
@{
    ViewBag.Title = "EmailNotConfirmed";
}

<h2>Nieaktywne konto</h2>
<p>W celu aktywacji konta wejdź w link otrzymany w wiadomości email</p>
<br />
<p>Jeśli to zrobiłeś @Html.ActionLink("zaloguj się", "Login") </p>

